@model WebThietBiDienTu.Models.SanPham
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutHienThi.cshtml";
}

<script src="~/Scripts/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
<h2>Thêm sản phẩm</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sản phẩm</legend>

        <div class="form-group">
            Tên sản phẩm &nbsp;&nbsp;&nbsp;
            @Html.EditorFor(model => model.TenSP)
            @Html.ValidationMessageFor(model => model.TenSP)
        </div>

        <div class="form-group">
            Giá &nbsp;&nbsp;&nbsp;
            @Html.EditorFor(model => model.GiaBan)
            @Html.ValidationMessageFor(model => model.GiaBan)
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <textarea name="MoTa" placeholder="Mô tả thông tin sản phẩm"></textarea>
            </div>
        </div>

        <div class="form-group">
            <p>Hình ảnh sản phẩm</p>
            <div class="col-md-10">
                <input type="file" name="fupload" />
            </div>
        </div>

        <div class="form-group">
            Số lượng tồn &nbsp;&nbsp;&nbsp;
            @Html.EditorFor(model => model.SLTon)
            @Html.ValidationMessageFor(model => model.SLTon)
        </div>

        <div class="form-group">
            Hãng &nbsp;&nbsp;&nbsp;
                @Html.DropDownList("ncc")
        </div>

        <div class="form-group">
            Nhóm hàng &nbsp;&nbsp;&nbsp;
                @Html.DropDownList("nh")
        </div>

        <div class="form-group">
            Loại &nbsp;&nbsp;&nbsp;
            @Html.EditorFor(model => model.Loai)
            @Html.ValidationMessageFor(model => model.Loai)
        </div>

        <p>
            <input type="submit" value="Thêm" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Admin")
</div>