@using WebThietBiDienTu.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHienThi.cshtml";
}
@model List<SanPham>

<div class="container">
    <div class="product-group">
    <div class="row">
        @foreach (SanPham sp in Model)
        {            
            @*<div class="col-md-4 col-sm-8 col-2">*@
                <div class="card text-center mr-2 mt-2">
                <div class="card card-product">
                <a href="@Url.Action("Detail", "Home", new { id = sp.MaSP })">
                    <img src="~/Content/Image/@sp.HinhAnh" class="w-100" alt="Card image cap" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@sp.TenSP</h5>
                    <p class="card-text">@String.Format("{0:#,###}", sp.GiaBan) VNĐ</p>
                    <a href="@Url.Action("ThemMatHang", "DatHang", new { msp = sp.MaSP })">
                        <button class="bton bton--left">Thêm vào giỏ</button>
                    </a>
                </div>
                </div>
            </div>
        }
    </div>
        </div>





 @*           <div class="row">
                @foreach (SanPham sp in Model)
                {
                    <div class="col-md-3 card text-center">
                        <div class="card-product">
                            <div class="card middle">
                                <div class="front">
                                    <p>
                                        <img style="width: 220px; height: 200px;" src="~/Content/image/@sp.HinhAnh" alt=""></p>
                                    <br />
                                    <p class="card-title" style="height: 35px; font-weight: bold">@sp.TenSP</p>
                                    <br />
                                    <br />
                                </div>
                                <div class="back">
                                    <div class="back-content middle">

                                        <p class="card-title" style="font-size: 30px; font-weight: bold;">@String.Format("{0:#,###}", sp.GiaBan)&#8363;</p>

                                        <a href="@Url.Action("Detail", "Home", new { id = sp.MaSP })">
                                            <button class="bton bton--left">Chi tiết</button>
                                        </a>
                                        <a href="@Url.Action("ThemMatHang", "DatHang", new { msp = sp.MaSP })">
                                            <button class="bton bton--left">Thêm vào giỏ</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>*@
</div>
